.hall-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.row {
  display: flex;
  gap: 8px;
}

.seat {
  width: 30px;
  height: 30px;
  background-color: #44c767; /* доступне місце */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.seat.selected {
  background-color: #3366ff; /* вибране місце */
}
